$alert-default-background-color: #d6efee;
$alert-default-color: #094264;
$alert-warning-background-color: #fbe7dd;
$alert-warning-color: #8a4b30;
$alert-error-background-color: #ffdede;
$alert-error-color: #8b343c;
$alert-success-background-color: #d0eac4;
$alert-success-color: #154a28;

.wp-block-tutorial-alert {
	background-color: $alert-default-background-color !important;
	color: $alert-default-color !important;

	&.is-style-warning {
		background-color: $alert-warning-background-color !important;
		color: $alert-warning-color !important;
	}

	&.is-style-error {
		background-color: $alert-error-background-color !important;
		color: $alert-error-color !important;
	}

	&.is-style-success {
		background-color: $alert-success-background-color !important;
		color: $alert-success-color !important;
	}
}
